@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");



/* === Scrollbars === */

::-webkit-scrollbar {
    @apply w-2;
    @apply h-1;
}

::-webkit-scrollbar-track {
    @apply !bg-black;
}
::-webkit-scrollbar-thumb {
    @apply rounded-sm !bg-green-700;
}

/* Firefox */
html {
    scrollbar-color: green;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
