@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");



/* === Scrollbars === */

::-webkit-scrollbar {
    @apply w-2;
    @apply h-1;
}

::-webkit-scrollbar-track {
    @apply !bg-black;
}
::-webkit-scrollbar-thumb {
    @apply rounded-sm !bg-green-700;
}

/* Firefox */
html {
    scrollbar-color: green;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.glow-blink {
    animation: glow 2s infinite, blink 1s infinite;
  }
  
  @keyframes glow {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  @keyframes blink {
    0% {
      filter: brightness(100%);
    }
    50% {
      filter: brightness(200%);
    }
    100% {
      filter: brightness(100%);
    }
  }
  